@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

body {
    font-family: Lexend;

    display: flex;
    flex-direction: column;
    min-width: 375px;

}

header{
    height: 40px;
}

main{
    flex: 1;
    overflow: auto;
    padding: 30px;
}

footer{
    height: 30px;
}

