input.form-control {
  margin-top: 10px;
  width: 30ch !important;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-buttons {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}