.popup {
    background-color: #333;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3px;
    z-index: 1000;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-out {
    animation: fadeout 3s forwards;
}