/* main layout */
.main-play {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options ul {
    list-style: none;
    padding: 0;

}

.options ul li {
    padding: 10px;
}

.game {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.game::-webkit-scrollbar {
  display: none;
}

.title {
    text-align: center;
}

.notifications {
    flex: 1;
}

.notifications ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}

.notifications ul li .Name {
    color: white;
}

#end_word {
    font-weight: bold;
}

#start_word {
    font-weight: bold;
}

/* Grid layout */
.letter-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.letter-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.letter-cell {
    width: 80px;
    height: 80px;
    background-color: darkslategray;
    color: lightslategray;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
}

div.letter-cell:hover  {
    color: #81bfbf;
}