/* main layout */
.main-play {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options ul {
    list-style: none;
    padding: 0;

}

.options ul li {
    padding: 10px;
}

.game {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.game::-webkit-scrollbar {
  display: none;
}

.title {
    text-align: center;
}

.notifications {
    flex: 1;
}

.notifications ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}

.notifications ul li .Name {
    color: white;
}

#end_word {
    font-weight: bold;
}

#start_word {
    font-weight: bold;
}

/* Grid layout */
.letter-grid {
    display: grid;
    grid-template-columns: repeat(1, 80px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}


.letter-row-3 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    justify-content: center;
}

.letter-row-4 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    justify-content: center;
}

.letter-cell {
    width: 80px;
    height: 80px;
    background-color: darkslategray;
    color: lightslategray;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
}

div.letter-cell:hover  {
    color: #81bfbf;
}

.control-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
}