@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

body {
    font-family: Lexend;

    display: flex;
    flex-direction: column;
    min-width: 375px;

    animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header{
    height: 80px;
    display: flex;
    flex-direction: row;
}

main{
    flex: 1;
    overflow: auto;
}

footer{
    height: 30px;
}

@keyframes rainbow{
    from {
        color: red;
    }
    16% {
        color: orange;
    }
    33%{
        color: yellow;
    }
    50%{
        color: green;
    }
    67%{
        color: blue;
    }
    83%{
        color: purple;
    }
    to {
        color: red;
    }
}